

    <div class="wrapper left">


        <div class="container">
            <nav class="menu">
              <ul>
                <li class="drop-down">
                  <a href="#">Getting Started</a>

                  <div class="mega-menu fadeIn animated">

                    <div class="mm-3column">
                      <span class="categories-list">
                      <ul>
                        <span>Introduction</span>
                          <li><a class="mm-view-more" href="{{ site.data.global.about.url }}">About</a></li>
                          <li><a class="mm-view-more" href="{{ site.data.global.community.url }}">Community</a></li>
                          <li><a class="mm-view-more" href="{{ site.data.global.license.url }}">License</a></li>
                          <li><a class="mm-view-more" href="{{ site.data.global.release_notes.url }}">Release Notes</a></li>
                          <li><a class="mm-view-more" href="{{ site.data.global.talks.url }}">Talks and Publications</a></li>
                        </ul>
                      </span>
                    </div>

                    <div class="mm-3column">
                      <span class="categories-list">
                      <ul>
                        <span>Getting Started</span>
                          <li><a class="mm-view-more" href="{{ site.data.global.download.url }}">Download and install</a></li>
                          <li><a class="mm-view-more" href="{{ site.data.global.tutorial.url }}">Tutorial</a></li>
                          <li><a class="mm-view-more" href="{{ site.data.global.test_suite.url }}">Test Suite</a></li>
                          <li><a class="mm-view-more" href="{{ site.data.global.bug_report.url }}">Bug Reporting</a></li>
                          <li><a class="mm-view-more" href="{{ site.data.global.faq.url }}">FAQ</a></li>
                        </ul>
                      </span>
                    </div>

                    <div class="mm-3column">
                      <span class="categories-list">
                      <ul>
                        <span>Usage</span>
                          <li><a class="mm-view-more" href="{{ site.data.global.building_projects.url }}">Building Projects</a></li>
                          <li><a class="mm-view-more" href="{{ site.data.global.adding_plugins.url }}">Creating new plugins</a></li>
                        </ul>
                      </span>
                    </div>

                </div>

                </li>
                <li>
                  <a href="{{ site.data.global.plugins.url }}">Plugins</a>
                </li>
                <li>
                  <a href="{{ site.data.global.api_reference.url }}">API Reference</a>
                </li>
                <li>
                  <a href="{{ site.data.global.tools_reference.url }}">Tools Reference</a>
                </li>
                <li>
                  <a href="{{ site.data.global.developer_docs.url }}">Developer docs</a>

                </li>
                <li>
                  <a target="_blank" href="https://github.com/blockspacer/flextool/issues">Github issues</a>
                </li>

              </ul>
            </nav>
          </div>


    </div>
